pipeline/pl_sql_watermarkcopy_storedprocedure_DYNAMICSLECTION_TABLES.json
{
	"name": "pl_sql_watermarkcopy_storedprocedure_DYNAMICSLECTION_TABLES",
	"properties": {
		"activities": [
			{
				"name": "Lookup_oldwatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT TableName,WatermarkValue FROM [dbo].[watermarktable] where TABLENAME = '@{pipeline().parameters.TABLENAME}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable_watermark_target",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_Newwatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT max(@{pipeline().parameters.INSERTDATETIME}) as newvalue FROM @{pipeline().parameters.TABLENAME}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Copy order_destination",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_oldwatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup_Newwatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM\n @{pipeline().parameters.TABLENAME} where @{pipeline().parameters.INSERTDATETIME} > '@{activity('Lookup_oldwatermark').output.firstRow.WatermarkValue}' and @{pipeline().parameters.INSERTDATETIME} <= '@{activity('Lookup_Newwatermark').output.firstRow.newvalue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable_DYNAMIC_TARGET",
						"type": "DatasetReference",
						"parameters": {
							"TABLENAME": {
								"value": "@pipeline().parameters.TABLENAME",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Stored procedure_WATERMRK",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy order_destination",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spSetWatermark]",
					"storedProcedureParameters": {
						"NewTime": {
							"value": {
								"value": "@activity('Lookup_Newwatermark').output.firstRow.newvalue",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@activity('Lookup_oldwatermark').output.firstRow.WatermarkValue",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabasetarget",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"TABLENAME": {
				"type": "string",
				"defaultValue": "INVOICE"
			},
			"INSERTDATETIME": {
				"type": "string",
				"defaultValue": "1900-01-01T00:00:00Z"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-09T09:18:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}